@{
    ViewData["Title"] = "Pagina Inicial";
    ViewData["Description"] = "Home Page";
}

<!-- Header Start -->
<div class="container-fluid hero-header bg-light py-5 mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 mb-3 animated slideInDown">Led</h1>
                <p class="animated slideInDown">
                    Instalamos fita de luz de led, película de led, perfil de led, luminárias, abajur,  fitas de led que não precisa ligar na tomada e muito mais.
                </p>
                <a asp-controller="servico" asp-action="iluminacao" class="btn btn-primary py-3 px-4 animated slideInDown">Conheça Mais</a>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="img/banner-1.jpg" alt="Instalação de led e perfil de led em residências" />
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-xxl py-5">

    <div class="container">

        <div class="row g-5 align-items-center">

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="~/img/sobre-eletro-sat.jpg" alt="@ConstModel.Client.Name" />
            </div>

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">

                <div class="h-100">

                    <h1 class="display-6">Sobre a @ConstModel.Client.Name</h1>

                    <p class="text-primary fs-5 mb-4">A <strong>@ConstModel.Client.Name</strong> é seu <strong>eletricista</strong> sempre pronto</p>

                    <p><strong>Eletricista residencial</strong>, <strong>instalador de fitas de led</strong>, instalação de <strong>quadro de distribuição</strong> ou a implantação de um <strong>cabo de rede</strong> estamos sempre prontos para atender a demanda de cada cliente com uma variedade de serviços prestados.</p>

                    <p class="mb-4">Você já se perguntou: existe <em>eletricista perto de mim</em>? Somos <strong>eletricistas profissionais</strong> sempre por perto e pronto para atender as demandas de cada cliente de forma a otimizar e agilizar as experiências.</p>

                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>Instalação de fitas led</span>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>Instalação elétrica de chuveiros e torneira</span>
                    </div>

                    <div class="d-flex align-items-center mb-4">
                        <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                        <span>Instalação elétrica de tomadas, interruptores e disjuntores</span>
                    </div>

                    <a class="btn btn-primary py-3 px-4" asp-controller="sobrenos" asp-action="">Saiba Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Features Start -->
<div class="container-xxl py-5">

    <div class="container">

        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">

            <h2 class="display-6">Trabalho Elétrico</h2>

            <p class="text-primary fs-5 mb-5">Porque nos chamar?</p>

        </div>

        <div class="row g-5">

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                <div class="d-flex align-items-start">

                    <i class="fas fa-id-card display-1 text-primary"></i>

                    <div class="ps-4">

                        <h5 class="mb-3">Atendimento Profissional</h5>

                        <span>
                            Realizamos nossos serviços de forma profissional e com garantias
                        </span>

                    </div>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">

                <div class="d-flex align-items-start">

                    <i class="fas fa-money-bill-alt display-1 text-primary"></i>

                    <div class="ps-4">

                        <h5 class="mb-3">Pagamento Facilitado</h5>

                        <span>
                            Facilitamos o pagamento do cliente além de oferecer transparecia total no que está sendo cobrado
                        </span>

                    </div>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">

                <div class="d-flex align-items-start">

                    <i class="fas fa-project-diagram display-1 text-primary"></i>

                    <div class="ps-4">

                        <h5 class="mb-3">Produtos de Qualidade</h5>

                        <span>
                            Só trabalhamos com matérias de qualidade e garantia contra defeitos e falhas
                        </span>

                    </div>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                <div class="d-flex align-items-start">

                    <i class="fas fa-shield-alt display-1 text-primary"></i>

                    <div class="ps-4">

                        <h5 class="mb-3">Segurança</h5>

                        <span>
                            Realizamos os serviços seguindo todos os protocolos de segurança para garantir a proteção de toda sua família
                        </span>

                    </div>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">

                <div class="d-flex align-items-start">

                    <i class="fas fa-first-aid display-1 text-primary"></i>

                    <div class="ps-4">

                        <h5 class="mb-3">Atendimentos Emergenciais</h5>

                        <span>
                            Realizamos atendimentos de emergência sempre que for necessário
                        </span>

                    </div>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">

                <div class="d-flex align-items-start">

                    <i class="fas fa-question display-1 text-primary"></i>

                    <div class="ps-4">

                        <h5 class="mb-3">Suporte Telefônico</h5>

                        <span>
                            Surgiu alguma dúvida sobre o serviço prestado ou precisa de um esclarecimento, somos transparentes e oferecemos suporte aos nossos clientes.
                        </span>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<!-- Features End -->

<!-- Service Start -->
<div class="container-xxl bg-light py-5 my-5">

    <div class="container py-5">

        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">

            <h3 class="display-6">Serviços</h3>

            <p class="text-primary fs-5 mb-5">Elétrica residencial, substituição de fiação e cabeamentos elétricos, instalações e cabeamentos de rede</p>

        </div>

        <div class="row g-4">

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                <div class="service-item bg-white p-5">

                    <i class="fas fa-home display-2 text-primary"></i>

                    <h5 class="mb-3">Instalações</h5>

                    <p>
                        Tomadas, interruptores e disjuntores, perfil de led e fitas de led, eletroduto e caixas de passagem, quadro de distribuição, chuveiros e torneiras elétricas, instalações de rede.
                    </p>

                    <a asp-controller="servico" asp-action="">Leia Mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">

                <div class="service-item bg-white p-5">

                    <i class="fas fa-sync-alt display-2 text-primary"></i>

                    <h5 class="mb-3">Trocas</h5>

                    <p>
                        Quadro de distribuição, quadros de disjuntores, atualização de quadros elétricos e equipamentos eletricos em geral. Execução de projetos elétricos em todos os ambientes da sua residencias
                    </p>

                    <a asp-controller="servico" asp-action="">Leia Mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">

                <div class="service-item bg-white p-5">

                    <i class="far fa-lightbulb display-2 text-primary"></i>

                    <h5 class="mb-3">Iluminação</h5>

                    <p>
                        Residencial ou decorativas. Lâmpadas inteligentes, interruptores inteligentes e iluminação integrada a assistentes pessoais como Alexa, Siri ou Google Assistente
                    </p>

                    <a asp-controller="servico" asp-action="iluminacao">Leia Mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                <div class="service-item bg-white p-5">

                    <i class="fas fa-toolbox display-2 text-primary"></i>

                    <h5 class="mb-3">Equipamentos</h5>

                    <p>
                        luminárias, interruptores, sensores de presença, campainhas, aquecedores elétricos, ventiladores de teto
                    </p>

                    <a asp-controller="servico" asp-action="">Leia Mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">

                <div class="service-item bg-white p-5">

                    <i class="fas fa-tasks display-2 text-primary"></i>

                    <h5 class="mb-3">Projetos</h5>

                    <p>
                        Executamos seu projeto elétrico seja ele para um ambiente ou toda sua casa e apartamento. Realizando o planejamento, orientações e acompanhamento. Executando todo o processo
                    </p>

                    <a asp-controller="servico" asp-action="projetoeletrico">Leia Mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">

                <div class="service-item bg-white p-5">

                    <i class="fas fa-bezier-curve display-2 text-primary"></i>

                    <h5 class="mb-3">Redes</h5>

                    <p>
                        Precisa montar uma rede cabeada para garantir a melhor experiencia em sua residência e permitir que seu filho tenha a melhor experencia nos jogos enquanto você aproveita seus vídeos
                    </p>

                    <a asp-controller="servico" asp-action="cabeamentorede">Leia Mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

        </div>

    </div>

</div>
<!-- Service End -->

<!-- FAQs Start -->
<div class="container-xxl py-5">

    <div class="container">

        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">

            <h4 class="display-6">Duvidas?</h4>

            <p class="text-primary fs-5 mb-5">Conheça as perguntas mais frequentes</p>

        </div>

        <div class="row justify-content-center">

            <div class="col-lg-10">

                <div class="accordion" id="accordionExample">

                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s">

                        <h5 class="accordion-header" id="headingOne">

                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Qual a vantagem de contratar um eletricista residencial?
                            </button>

                        </h5>

                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">

                            <div class="accordion-body">
                                Um eletricista residencial pode executar o serviço de forma eficiente e garantir a segurança da rede elétrica. Evitando uma instalação mal feita, sobrecarga nas redes elétricas, curtos e diversos erros básicos que são cometidos por pessoas sem o devido conhecimento e competência para executar o serviço.
                            </div>

                        </div>

                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">

                        <h5 class="accordion-header" id="headingTwo">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Quem deve comprar os materiais elétricos?
                            </button>

                        </h5>

                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                A escolha fica por conta do cliente, mas é sempre recomendado o acompanhamento do eletricista caso o cliente não tenha o conhecimento correto para a aquisição, erros comum como se focar apenas no preço ou pela aparência de um determinado equipamento pode custar muito caro ao cliente no final caso não seja a opção mais adequada. A @ConstModel.Client.Name pode acompanhar o cliente para a compra ou até mesmo realizar a compra de todos os materiais necessários para executar o serviço com total transparência
                            </div>

                        </div>

                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">

                        <h5 class="accordion-header" id="headingThree">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Devo realizar manutenções na rede elétrica?
                            </button>

                        </h5>

                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">

                            <div class="accordion-body">
                                Sim. A manutenção pode ser do tipo preventiva, corretiva ou preditiva. A primeira é focada para garantir que seus equipamentos fiquem seguros e funcionando adequadamente, podendo envolver limpeza, verificações de cabos e conexões. No segundo caso, a manutenção corretiva é destinada a volta do funcionamento elétrico adequado. Já na preditiva envolve a troca de dispositivos e equipamentos conforme sua vida util.
                            </div>

                        </div>

                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">

                        <h5 class="accordion-header" id="headingFour">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Qual é a diferença entre um fusível e disjuntor?
                            </button>

                        </h5>

                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">

                            <div class="accordion-body">
                                Fusíveis e disjuntores podem executar a mesma tarefa, detectar falhas em um circuito elétrico. Enquanto um fusível explode ao detectar tal falha e interrompe o fluxo da energia o disjuntor é um interruptor que pode ser ligado quando o problema é resolvido.
                            </div>

                        </div>

                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">

                        <h5 class="accordion-header" id="headingFive">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Por que as minhas luzes piscam?
                            </button>

                        </h5>

                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">

                            <div class="accordion-body">
                                Se suas luzes piscarem frequentemente em um cômodo ou em toda a sua casa, você deve chamar o eletricista. Em muitos casos, as luzes piscam devido a um sistema elétrico desatualizado e seu painel ou fiação elétrica precisará ser substituído. Em outros casos, pode ser um fio solto, fonte de alimentação insuficiente ou outro dispositivo em um circuito que consome muita energia.
                            </div>

                        </div>

                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">

                        <h5 class="accordion-header" id="headingSix">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Como sei que meu painel elétrico não é seguro?
                            </button>

                        </h5>

                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">

                            <div class="accordion-body">
                                A maneira mais rápida e confiável é ligar para o eletricista. Outro forma é verificar se o equipamento foi instalado a mais de 20 anos atras, caso esse seja o caso existe uma grande probabilidade de ser necessário trocar seu equipamento.
                            </div>

                        </div>

                    </div>

                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.7s">

                        <h2 class="accordion-header" id="headingSeven">

                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Porque meu disjuntor não reinicia?
                            </button>

                        </h2>

                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">

                            <div class="accordion-body">
                                A melhor forma de saber é ligar para o eletricista, a @ConstModel.Client.Name está a disposição para ajudar. Embora exista vários motivos as principais causas são sobrecargas no circuito elétrico, curtos circuitos. Sempre existe a possibilidade do disjuntor estar com problemas também.

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<!-- FAQs Start -->